body{
	/*min-width: 600px;*/
    margin: 0px;
	padding: 0px;
}
header{
	height: 100px;
}
section{
	width: 100%;
	min-height: 300px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

header h1{
	/*text-align: center;
	font-family: sans-serif;
	font-weight: normal;
	font-size: 2.5em;*/
	
	font-size: 40px;
	font-weight: normal;
	text-align: center;
}
nav{
	width: 100%;
}
nav ul{
	/*background-color: grey;
	height: 43px;
	padding-top: 20px;
	list-style-type: none;
	text-align: center;
	font-size: 1.3em;*/

	margin: 0px;
	padding: 0px;
}
nav li{
	/*display: inline;*/
     list-style-type: none;
	float: left;

}
nav a{
	/*text-decoration: none;
    color: white;
    padding: 20px 30px 20px 30px;
    text-transform: uppercase;*/
    text-decoration: none;
	padding-top: 20px;
	padding-right: 30px;
	padding-bottom: 20px;
	padding-left: 30px;
	color: #FFF;
	text-transform: uppercase;
	display: inline-block;
	font-size: 15px;
}
a:hover{
	background: rgba(51, 240, 57, 0.5);
	background-size: 40px;
	border-top: 2px solid red;
}

.conteneur1{
	display: flex;
	justify-content: space-around;
}

.tocenter{
	text-align: center;
}
.conteneur2{
	margin: 0px 500px 0px 20px;
	display: flex;
	justify-content: space-between;
}
.conteneur3{
	display: flex;
	justify-content: space-around;
}

@media screen and (max-width: 1024px){


}