#topsection{
	min-width: 600px;
	height: 120px;
}

header{
	float: left;
	width: 30%;
}

#menu{
	float: left;
	width: 50%;
}

#menu li{
	list-style-type: none;
}

.center{
	margin-right: 100px;
	margin-left: 100px;
	text-align: justify;
}